
html{
    background-image: url(../images/bats.gif);

}

header{
    border-bottom: solid black;
    background: linear-gradient(45deg, orange, black); 
}

.navigation{
    width:100%;
    white-space: nowrap;
    background-color:black;
    color:white;
    padding: 10px 0px;
}



.navigation table a:link{
    color:white;
    text-decoration:none;
    list-style-type:none;
    padding:10px 38px;
}

.navigation a{
    color:white;
}
.navigation table a:hover{
    background-color:gray;
    color:black;
}

.navigation table, th, td {
   
    border-collapse: collapse;
}
#productlist a:link{
    color:orange;
}

#home a:link{
    color:white;
}

body{
    font-family: Candela, Caviar Dreams, sans-serif;
    background-color:white;
    margin: 0 auto; 
    width: 800px;
    border: solid black;
    box-shadow: -5px 25px 30px black;
}

h2{
    font-size:150%;
    margin-left:15px;
}
h3{
    font-size:100%;
    margin-left:15px;
}
.welcome::first-letter { 
    font-size: 225%;
    color: black;
}
p{
    margin-left:15px;
}
.pumpkinpic{
    float: left;   
}

.halloweentitle {
    font-family: sans-serif;
    font-size:250%;
    text-indent: 20px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-bottom:0px;
}
.subhead{
    text-indent:20px;
    font-weight: bold;
    font-size: 125%;
    padding-top:0px;
    margin-top:-18px;

}

#leftsidebar li{
    margin: .3em;
    color:black;
    list-style-type:none;
    border:2px solid black;
    background:orange;
    padding-left: .75em;
    padding-right: .2em;
 
}
#leftsidebar{
    list-style-type: none;
    text-decoration:none;
    padding-top:15px;
    padding-right:10px;
    color:black;
    font-weight:bold;
    float:left;
    width: 160px;
    height:375px;  
    padding-left:0;
    margin-left:0;
    line-height: 2em;
    text-decoration: none;
}
#leftsidebar ul{
    padding-left:5px;
}
#leftsidebar a:link{
    color:orange;
    
}

#leftsidebar ul a:link{
    color:black;
    background-color:orange;
    text-decoration:none;
    list-style-type:none;
}


ul a:hover {
    color:green;
}
#rightsidebar{
    float:right;
    width:180px;
    height:390px;
    background-color:#F5DEB3;
    text-decoration:none;
    list-style-type:none;
    
}

#rightsidebar h2{
    font-size: 15px;
    font-weight:bold;
}
#rightsidebar ul,a:link{
    list-style-type:none;
    color:black;
    
}
#rightsidebar ul{
   padding-left:40px;
}

#rightsidebar img{
    padding:10px 5px;
}
.catpic{
    float:left;
    height:100px; 
    padding-right:50px;
}

#plisttitle{
    width:100%;
}

#plist {
  float: left;
  margin: .8em .9em 1.0em;
  width: 600px;
}
#plist a{
    color:black;
}
#plist table{
  width: 80%;
  padding-left: 1.5em;
  border-collapse: collapse;
}

#plist h2{
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 0;
  padding: .75em 10em;
}

#plist thead th:first-child {
  width: 40%;
  text-align: left;
}
#plist th {
  padding-bottom: .5em;
}
#plist td {
  text-align: left;
  padding-bottom: .5em;
}
#plist thead th:nth-child(2) {
  width: 60%;
  text-align: left;
}
#plist thead th:last-child {
  width: 10%;
  text-align: right;
  background-color: #F5DEB3;
  padding-left: 3em;
}
#plist tbody td:last-child {
  text-align: right;
  background: #F5DEB3;
  border-bottom-color: #F5DEB3;
}

.category {
  vertical-align: top;
  font-weight: bold;
}
footer{

    font-size: 80%;
    text-align: center;
    border-top: solid black;
    background: linear-gradient(45deg, black, orange); 
    height: 50px;
    clear: both;
}

.copyright{
    padding-top: 15px;
}

