
html{
    background-image: url(../images/bats.gif);

}
a:link{
    color:orange;
}

header{
    border-bottom: solid black;
    background: linear-gradient(45deg, orange, black); 
}

.navigation{
    width:100%;
    white-space: nowrap;
    background-color:black;
    color:white;
    padding: 10px 0px;
}

.navigation a{
    color:white;
}
table a:link{
    color:white;
    text-decoration:none;
    list-style-type:none;
    padding:10px 38px;
}

table a:hover{
    background-color:gray;
    color:black;
}

table, th, td {
    //background-color:black;
    //color:white;
    border-collapse: collapse;
}
#homep a:link{
    color:orange;
}
body{
    font-family: Candela, Caviar Dreams, sans-serif;
    background-color:white;
    margin: 0 auto; 
    width: 800px;
    border: solid black;
    box-shadow: -5px 25px 30px black;
}

h2{
    font-size:150%;
    margin-left:15px;
}
h3{
    font-size:100%;
    margin-left:15px;
}
.welcome::first-letter { 
    font-size: 225%;
    color: black;
}
p{
    margin-left:15px;
}
.pumpkinpic{
    float: left;   
}

.halloweentitle {
    font-family: sans-serif;
    font-size:250%;
    /* color: orange; */
    text-indent: 20px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-bottom:0px;
    /* font-style: italic; */
    /* text-shadow: 2px 2px black; */
}
.subhead{
    text-indent:20px;
    font-weight: bold;
    font-size: 125%;
    padding-top:0px;
    margin-top:-18px;

}

li{
    margin: .3em;
    color:black;
    list-style-type:none;
    border:2px solid black;
    background:orange;
    padding-left: .75em;
    padding-right: .2em;
    //float:left;
}
.listlinks{
    list-style-type: none;
    text-decoration:none;
    padding-top:15px;
    padding-right:10px;
    color:black;
    font-weight:bold;
    float:left;
    width: 160px;
    height:500px;  
    padding-left:0;
    margin-left:0;
    line-height: 2em;
    text-decoration: none;
}
ul{
    padding-left:5px;
}

ul a:link{
    color:black;
    background-color:orange;
    text-decoration:none;
    list-style-type:none;
}


ul a:hover {
    color:green;
}

#derangedlink a{
    color:orange;
    //text-decoration:none;
}

footer{

    font-size: 80%;
    text-align: center;
    border-top: solid black;
    background: linear-gradient(45deg, black, orange); 
    height: 50px;
    clear: both;
}

.copyright{
    padding-top: 15px;
}